* {
    box-sizing: border-box;
}
#header-nav {
background-color: yellow;
border-radius: 0;
border: 0;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
  border: 1px solid black;
}

h1{
    color:red;
}
