* {
    box-sizing: border-box;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
#header-nav {
background-color: yellow;
border-radius: 0;
border: 0;
}
.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
  border: 1px solid black;
}

#nav-list{
    margin-top: 10px;
}
#nav-list a{
    color: pink;
    text-align: center;
}
#nav-list a:hover{
    background: #E7E7E7;
}

h1{
    color: blue;
}
