#header-nav {
background-color: gray;
border-radius: 0;
border: 0;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    padding-top: 9px;
    padding-right: 10px;
    padding-bottom: 9px;
    padding-left: 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid red;
}
button {
font: inherit;
    font-style: inherit;
    font-variant-ligatures: inherit;
    font-variant-caps: inherit;
    font-variant-numeric: inherit;
    font-variant-east-asian: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    cursor: pointer;
}
#nav-list a:hover{
    background: #E7E7E7;
}
h1{
    color: green;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 5px;
  background-color: #cccccc;
  border-radius: 1px;
}

@media (min-width: 768px) {
    .navbar-toggle{
        display: none;
    }
}

p {
	padding: 15px 5px 0px 5px;
	font-size: 16px;
	position: relative;
}
section { 
	background-color: rgb(150, 150, 150);
   	border: 2px solid black;
   	margin-top: 20px; 
   	margin-right: 20px; 
   	padding: 3px;
   	text-align: justify;
   	position: relative;
 }


#p1 {
	text-align: center;
	background-color: pink;
	color: black;
}
#p2 {
	text-align: center;
	background-color: red;
	color: white;
}
#p3 {
	text-align: center;
	background-color: yellow;
	color: black;
}

.row {
	width: 100%;
}





