#header-nav {
background-color: black;
border-radius: 0;
border: 0;
color: yellow;
	font-size: 30px;

}

.navbar-toggle {
    padding: 9px 10px;
    padding-top: 9px;
    padding-right: 10px;
    padding-bottom: 9px;
    padding-left: 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid yellow;
}
button {
font: inherit;
    font-style: inherit;
    font-variant-ligatures: inherit;
    font-variant-caps: inherit;
    font-variant-numeric: inherit;
    font-variant-east-asian: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
#nav-list a:hover{
    background: #E7E7E7;
}
h1{
    color: black;
	font-family: Helvetica;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 5px;
  background-color: black;
  border-radius: 1px;
}
.navbar-toggle {
 position: relative;
    float: right;
}
@media (min-width: 768px) {
    .navbar-toggle{
        display: none;
    }
}

/*p {
	padding: 15px 5px 0px 5px;
	font-size: 16px;
	position: relative;
}*/
a {
    color: #337ab7;
    text-decoration: none;
}
section { 
	background-color: rgb(150, 150, 150);
   	border: 2px solid black;
   	margin-top: 20px; 
   	margin-right: 20px; 
   	padding: 3px;
	width: 100%;
	height: auto;
   	text-align: justify;
   	position: relative;
 }


#p1 {
	text-align: center;
	background-color: rgb(150, 150, 150);
	color: black;
	font-size: 20px;
	font-weight: bold;

}
#p2 {
	text-align: center;
	background-color: rgb(150, 150, 150);
	color: black;
	font-size: 20px;
	font-weight: bold;

}
#p3 {
	text-align: center;
	background-color: rgb(150, 150, 150);
	color: black;
	font-size: 20px;
	font-weight: bold;

}
@media (min-width: 992px) and (max-width: 1199px){
 
  .col-md-12 {
    width: 100%;
    float: left;
	}
}

/* Tablet PC view */
@media (min-width: 768px) and (max-width: 991px) {
 
  .col-sm-12 {
    width: 100%;
    float: left;
  }
}
/* Cell phone view */
@media (max-width: 767px)  {
  
  .col-xs-12 {
  	float: left;
    width: 100%;
  }
}

