* {
    box-sizing: border-box;
}
#header-nav {
background-color: yellow;
border-radius: 0;
border: 0;
}
.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
  border: 1px solid black;
}
h1{
    color:red;
}
