#header-nav {
background-color: gray;
border-radius: 0;
border: 0;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    padding-top: 9px;
    padding-right: 10px;
    padding-bottom: 9px;
    padding-left: 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
button{
    cursor: pointer;
    color: red;
}
/*.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}*/
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
  border: 1px solid black;
}/*
button{
    width: 59px;
    height: 50px;
}
#nav-list{
    margin-top: 10px;
}
#nav-list a{
    color: pink;
    text-align: center;
}
#nav-list a:hover{
    background: #E7E7E7;
}
*/
h1{
    color: blue;
}
